<div id='navbar'></div>
<div id='content'></div>

<script>
  $(document).ready(function(){
    $(function(){
      Trello.CURRENT_USER = {id: "<%= current_user.id %>",
                            username: "<%= current_user.username %>"}
      Trello.initialize();
    });
  });

</script>
