// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list-class {
  border: 1px outset white;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 20px;
  background-color: white;
  border-radius: 4px;
  display: block;
  length: 100px;
  height: 100%;

}

.list-title {
  width: 14em;
  margin-top: 19px;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.new-list-item {
  text-align: center;
  width: 259px;
  border: 1px outset white;
  margin-left: 34px;
  border-radius: 2px
}

.new-list-item button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-list-item h1{
  font-size: 22px;
  text-transform: capitalize;
}

.new-list-form {
  float:left;
}

.new-list-form:after {
  clear:both;
  display: block;
  content: "";
}

.deleteList {
  margin-top: 20px;
}

.lists {
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  overflow-x: scroll;
}

.lists:last-child {
  margin-right: 50px;
}
