<div class="inner">
  <div class = "trello_console">
    <div class = "trello_header">
    </div>


    <div class="new_board">
      <form class="new-board-item">

        <br>
        <input class= "form-control new-board-title" type='text'
             name='board[title]'
             id='title'
             value='' placeholder="new board"><br>

        <button class="submit btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

  <% boards.each(function(board) { %>
  <div class="board-object">
    <a href="#/boards/<%= board.id %>"><%= board.escape("title") %></a>
    <br>
    <button class="delete btn btn-danger" data-id="<%=board.id%>">Delete</button>
  </div>
  <% }) %>
</div>
