<div class="board-stuff">
  <div class="board-item">
    <h1 class=""><%= board.escape("title") %></h1>
  </div>

  <div class="new-list-form">
    <form class="new-list-item">

    <input class= "new-list-input form-control" type='text'
           name='list[title]'
           id='title'
           value='' placeholder="new list"> <br>
    <input type='hidden' name='list[board_id]' value="<%=board.id%>">

    <button class="btn btn-primary">Submit</button>
    </form>
  </div>
  <br>
</div>



<ul class="lists">
</ul>
