<div class="card" data-id="<%=card.id%>">
  <p >
      <%= card.escape("title") %>
  </p>
  <div class="button-delete">
      <button class="card-delete" data-id="<%=card.id%>">Delete</button>
  </div>
</div>
