<div class="list" data-id="<%=list.id%>">
  <p class="list-title">
      <%= list.escape("title") %>
  </p>
  <a data-id="<%=list.id%>" href="#" class="deleteList">X</a>

  <ul class="cards">
  </ul>

  <form class="new-card-item">

    <input class="card-title" type='text'
           name='card[title]'
           id='title'
           value='' placeholder="new card"><br>
    <input type='hidden' name='card[list_id]' value="<%=list.id%>" >
    <button class="submit-card btn btn-primary">Submit</button>
  </form>

</div>
